@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}


h1{
    font-size: 50px;
    line-height: 64px;
    color:#222
}
h2{
    font-size: 44px;
    line-height: 54px;
    color:#222
}
h4{
    font-size: 20px;
    color:#222
}
h6{
   font-weight: 700;
   font-size: 12px;
}

section-p1{
    padding: 40px 80px;
}
section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3f6f3;
    box-shadow: o 15px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 25px; */
}
#navbar li{
    list-style: none;
    padding:  0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #1a1a1a;
}

#navbar li a:hover{
    color: #088178;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
    transition: 0.7s ease;
    text-decoration: underline;
    

}
#navbar li a.active::after,
#navbar li a.active::after
{
    content: "";
    width: 30%;
    height: 2px;
    bottom: -4;
    font-weight: 900;
    left: 20px;
    color: #088178;
position: absolute;
}
#hero{
    background-image: url('./img/hero4.png');
    height: 90vh;
    width: 100%;
    background-position:top 0 right 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #088178;
}
#hero button{
    background-image: url('./img/button.png');
    color: transparent;
    color: #088178;
    border: none;
    padding: 14px 80px 14px 65px;
    margin-top: 4px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
#feature .fe-box{
    width: 180px;
    /* height: 140px; */
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
    border:1px solid #cce7d0;
    border-radius: 10px;
    margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 211, 0.1);
}
#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    display: inline-block;
    line-height: 1;
    background-color:#fddde4 ;
    color: #088178;
    border-radius: 4px;
}
#feature .fe-box img{
    width: 80%;
    margin-bottom: 20px;
    cursor: pointer;

}
#feature{
    display: flex;
   align-items: center;
   flex-wrap: wrap;
justify-content: space-around;
margin-top: 1rem;
}
#feature .fe-box:nth-child(2) h6{
    background-color:#Cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color:#d18ef2;
}
#feature .fe-box:nth-child(4) h6{
    background-color:#edd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color:#f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color:#Cdea6c;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}
.text h1{
    font-size: 2.8rem;
}
.text p{
    margin-top: 1rem;
    font-size: 1.2rem;
}
 #img1{
   width: 100%;
  height: 100%;
   box-shadow: 40px 40px 54px rgba(100, 102, 101, 0.5);
   border-radius: 1rem;
   

 }
 .feature{
   
    cursor: pointer;
    width: 260px;
     min-height: 30vh;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.1);
    border:1px solid #cce7d0;
    border-radius: 1rem;
    margin: 15px 0;
 }
 .feature:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 211, 0.3);
 }
 .desc p{
    padding: 0.8rem;
    font-weight: 600;
 }
 .rating{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    color: #FF9529;
    font-weight: 800;
 }
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.cart span{
    font-size: larger;
    font-weight: 700;
    color: #06645e;
}
.cart i{
    font-size: 1.8rem;
    color: #088178;
}
#feature-product{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.5rem;
}
.sec-mid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./img/banner/b2.jpg);
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}
.sec-mid h1{
    font-size:1.8rem ;
    color: #ffff;
    padding: 1rem;
}
.sec-mid h1 span{
    color: red;
}
.sec-mid h3{
    color: #ffff;
    padding: 0.7rem;
}
#mid-section{
    margin: 1rem;
    padding: 1rem;
}
.btn-main{
    
    color: transparent;
    color: #222;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 14px 80px 14px 65px;
    margin-top: 4px;
    font-size: 15px;
    border-radius: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.btn-main:hover{
    background-color: #088178;
    box-shadow: 10px 10px 54px rgba(70, 62, 211, 0.3);
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content h1{
    font-size: 2.4rem;
    font-weight: 700;
    padding: 0.7rem;
}
.content p{
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.5rem;
    color: #000;
}
#new-arrival
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ui-text-1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-image: url('./img/banner/b17.jpg');
    height: 45vh;
    width: 48%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
}  
.ui-text-1 p{
    color: #fff;
    padding: 0.6rem;
    font-weight: 500;
    font-size: medium;
} 
.ui-text-1 h2{
    font-size: 1.7rem;
    font-weight: 800;
    color: #ffff;
}
.ui-text-1 h6{
    color: #fff;
}
.ui-btn1{
    height: 2.3rem;
    width: 8rem;
    margin: 1rem;
    background-color:#088178;
    color: #fff;
    font-size: medium;
    font-weight: 300;
    cursor: pointer;

}
.ui-text-2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    background-image: url('./img/banner/b10.jpg');
    height: 45vh;
    width: 48%;
    background-repeat: no-repeat;
    background-size: cover;
}   
.ui-btn2{
    height: 2.3rem;
    width: 8rem;
    margin: 1rem;
    color: #fff;
    font-weight: 300;
    background-color: transparent;
    cursor: pointer;
}
.ui-text-2 p{
    color: #fff;
    padding: 0.6rem;
    font-weight: 500;
    font-size: medium;
} 
.ui-text-2 h2{
    font-size: 1.3rem;
    font-weight: 800;
    color: #ffff;
}
.ui-text-2 h6{
    color: #fff;
}
#main-ui{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
}
.module{
    background-image: url('./img/banner/b7.jpg');
    background-size: cover;
    height: 43vh;
    width: 26%;
    background-position: center;
    background-repeat: no-repeat;
}
.module h2{
    font-size:1.8rem;
    color: #fff;
    font-weight: 900;
    margin-top: 6rem;
    margin-left: 1.5rem;
}
.module p{
  line-height: 2rem;
  margin-left: 1.5rem;
  font-weight: 700;
  color: red;
}

.module2{
    background-image: url('./img/banner/b4.jpg');
    background-size: cover;
    height: 43vh;
    width: 42%;
    background-position: center;
    background-repeat: no-repeat;
}
.module2 h2{
    font-size:1.8rem;
    color: #fff;
    font-weight: 900;
    margin-top: 6rem;
    margin-left: 1.5rem;
}
.module2 p{
  line-height: 2rem;
  margin-left: 1.5rem;
  font-weight: 700;
  color: red;
}

.module3{
    background-image: url('./img/banner/b18.jpg');
    background-size: cover;
    height: 43vh;
    width: 26%;
    background-position: center;
    background-repeat: no-repeat;
}
.module3 h2{
    font-size:1.8rem;
    color: #fff;
    font-weight: 900;
    margin-top: 6rem;
    margin-left: 1.5rem;
}
.module3 p{
  line-height: 2rem;
  margin-left: 1.5rem;
  font-weight: 700;
  color: red;
}

#main-ui-2{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 2rem;
        flex-wrap: wrap;
}
#news-text-area{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-image: url('./img/banner/b14.png');
  background-position: 20% 30%;
  background-repeat: no-repeat;
  background-color: #041e42;
  padding: 2rem;
  height: 40vh;
  margin: 1.2rem;
  flex-wrap: wrap;
}
.news-text h2{
    font-size: 2rem;
    color: #fff;
    padding: 1rem;
    font-weight: 700;
}
.news-text p{
    color: #fff;
    font-weight: 400;
}
.news-text p span{
    color: #ffbd27;
    font-weight: 600;
}
.email-login input{
    height: 3.125rem;
    width: 100%;
    outline: none;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0 1.25em;
    border: 2px solid transparent;
}
.email-login input::placeholder{
    font-size: 1rem;
    font-weight: 400;
}
.email-login button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    width: 20%;
    font-weight: 500;
}
.email-login{
    display: flex;
    width: 40%; 
}
.main-component{
    margin-left: 2rem;
    padding: 1rem;
}
.main-component img{
    padding-left: 0.8rem;
    margin-left: 0.3rem;
    padding-bottom: 1rem;
}
 #sp{
    color:#000;
    padding-left: 1rem;
    font-weight: 700;
    font-size: 1.1rem;
    margin-left: 0.2rem;
}
.second-comp {
    padding: 0.8rem;
}
.second-comp p{
    color: #000;
    font-weight: 700;
    padding: 0.35rem;
}
.second-comp p span{
    color: #06645e;
    font-weight: 500;
}
.third-comp{
    margin-top: 0.3rem;
    padding-left: 0.9rem;
    margin-left: 0.2rem;
}
.third-comp span{
color: #000;
font-weight: 800;
font-size: 1.2rem;
}
.icon{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0.6rem;
    font-size: 1.3rem;
    gap: 0.8rem;
    font-weight: 900;
    cursor: pointer;
}

.main-component2 h4{
    margin-left: 0.5rem;
}
.comp-items{
    margin-top: 0.8rem;
}
.comp-items p{
    padding: 0.5rem;
    color: #000;
    font-weight: 500;
}
.main-component2{
    margin-left: 2rem;
    padding: 1rem;
    margin-top: 2rem;
}
.copyright{
    margin-top: 1.4rem;
    color: #06645e;
    font-weight: 500;
}
.main-component3{

    margin-left: 2rem;
    padding: 1rem;
    margin-top: 2rem;
}
.myaccount-list p{
    padding: 0.5rem;
    color: #000;
    font-weight: 500;
}
.myaccount-list{
    padding: 0.8rem;
}
.main-component4{

    margin-left: 2rem;
    padding: 1rem;
    margin-top: 2rem;
}
.content-a p{
    padding: 1rem;
    margin-top: 0.3rem;
    color: #000;
    font-weight: 500;
}
.download-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.7rem;
}
.payment p{
        margin-top: 0.7rem;
        color: #000;
        font-weight: 500;
}
.payment img{
    padding: 1.3rem;
}
#footer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #e3f6f3;
    box-shadow:  15px 15px rgba(0, 0, 0, 0.03);
    z-index: 999;
    /* position: sticky; */
    bottom: 0;
    left: 0;
     right: 0;
     cursor: pointer;
    width: 100%;
}

#mobile{
    display: none;
    align-items: center;
}

#navbar.active{
    right: 0;
}
#cuts{
    position: absolute;
    bottom: 250px;
    
}
#cuts i{
    font-size: 28px;
    padding: 1rem;
}

@media (max-width:799px) {
    .section-p1{
        padding: 40px 40px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -400px;
        height: 100vh;
        width: 40%;
        background-color:#E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0px 0px 10px;
        transition: 0.4s;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
   

    #mobile i{
        padding: 1rem;
        font-size: 34px;
        color: #06645e;
    }
    #hero {
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
       
    }
    #feature {
        justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }

    .feature {
        width: 260px;
        text-align: center;
        box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.1);
        border: 1px solid #cce7d0;
        border-radius: 1rem;
         min-height: 30vh; 
    }
    .sec-mid {
        height: 20vh;
    }
    .ui-text-1 {
        
        background-image: url('./img/banner/b17.jpg');
        height: 30vh;
        width: 100%;
        
    }
    .ui-text-2 {


        background-image: url('./img/banner/b10.jpg');
        height: 30vh;
        width: 100%; 
    }
   
/* #main-ui-2 h2{
     font-size: larger;
} */
#main-ui-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}
.module {
    background-image: url('./img/banner/b7.jpg');
    height: 43vh;
    width: 49%;
    
}
.module2 {
    background-image: url('./img/banner/b4.jpg');
    height: 43vh;
    width: 49%;
    
}
.module3 {
    background-image: url('./img/banner/b18.jpg');
    height: 43vh;
    width:100%;
    
}
    .email-login {
        width: 80%;
    }
}
@media (max-width: 477px) {
    #header {
        padding: 10px 30px;
    }
    #hero {
        height: 40vh;
        background-position: 55%;
        padding: 0 20px;
    }
    #hero h2{
        font-size: 32px;
        font-weight: 800;
    }
    #hero h1{
        font-size: 36px;
    }
    #hero p{
        margin-top: 0.3rem;
        font-size: large;
        font-weight: 700;
    }
    #feature {
        
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
        #feature .fe-box {
            width: 120px;
            text-align: center;
            padding: 25px 15px;
            box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
            border: 1px solid #cce7d0;
            border-radius: 8px;
            margin: 5px 0;
        }
        .feature {
             width: 50%;
             padding: 1rem;
        }
        .sec-mid{
            width: 100%;
            height: 30vh;
        }
        #mid-section{
            width: 98%;
                margin: 0;
                padding: 10px;
        }
        #main-ui {
            padding: 1rem;
        }
        .ui-text-1 {
            background-image: url('./img/banner/b17.jpg');
            height: 30vh;
            width: 100%;
            background-position: center;
        }
        .module {
            background-image: url('./img/banner/b7.jpg');
            height: 43vh;
            width: 50%;
          background-position: center;
 }
 .module h2{
    font-size: larger;
    padding: 2.5rem;
 }
 .module,.module2 p{
    padding-top: 1rem;
 }
 .module2 h2{
        font-size: large;
        padding-top: 2.5rem;
 }
 .main-component2 {
    .main-component2 {
        /* margin-left: 2rem; */
        padding: 1rem;
        margin-top: 2rem;
    }
    }
}



    

/*  shop page style */
        
#page-header{
    background-image: url('./img/banner/b1.jpg');
    max-width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
}
#page-header h2,p{
    color: #fff;
}
#Pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-top: 0.6rem;
    
}
#Pagination a{
    text-decoration: none;
    background-color: #088178;
    color: #fff;
    padding: 15px 20px;
    font-weight: 600;
    font-size: large;
    border-radius: 4px solid;
}
#product-details {
    display: flex;
    height: 100vh;
    align-items: flex-start;
    position: relative;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 10rem;
  }
  
  .img-cont {
    position: absolute;
    top: 0;
    /* left: 8%; */
    width: 100%;
    height: 100%;
    cursor: pointer;

  }
  
  .img-cont img {
    max-height: 55vh;
    width: 33%;
    cursor: pointer;
    padding: 2rem;
  }
  
  .small-img-cont {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 33%;
    /* margin-top: 0.5rem; */
    margin-left: 1rem;
  }
  
  .small-img-cont img {
    width: 23%;
    min-height: 15vh;
    cursor: pointer;
    padding: 0.3rem;
  }
  
  .img-text-area {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 20rem;
    margin-top: 1rem;
     position: absolute;
     width: 100%;
     top: 18%;
  }
  
  .img-text-area h2 {
    font-size: 1.7rem;
    font-weight: 700;
  }
  
  .img-text-area2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 1rem;
  }
  
  .img-text-area2 span {
    margin-top: 0.5rem;
    font-size: 23px;
    font-weight: 900;
    color: #000;
  }
  
  .img-text-area2 select {
    padding: 0.3rem;
    margin-top: 0.7rem;
    width: 7rem;
    border: 4px solid black;
  }
  
  .img-text-area2 select option {
    font-size: 15px;
    font-weight: 600;
  }
  
  .img-text-area2 input {
    width: 3rem;
    height: 2rem;
    margin-top: 0.6rem;
    text-align: center;
  }
  
  .img-text-area2 input::placeholder {
    font-size: 20px;
    font-weight: 500;
  }
  
  .img-text-area button {
    padding-right: 5rem;
    background-color: #06645e;
    margin-top: 0.6rem;
    width: fit-content;
    height: 2rem;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 14px;

  }
  .center {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .text-area h3{
    margin-top: 3rem;
    font-weight: 700;
    font-size: larger;
  }
  .text-area p{
    margin-top: 1rem;
    font-weight: 500;
    font-size: 17px;
    color: #000;
    line-height: 24px;
  }

  /*  responsive check again start */
   @media (max-width:799px) {

    .img-cont img {
        max-height: 45vh;
        width: 100%;
        cursor: pointer;
        padding: 2rem;
    }
    .small-img-cont {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 0.5rem;
    }
    .small-img-cont img {
        width: 24%;
        min-height: 15vh;
        cursor: pointer;
        padding: 0.3rem;
    }

    .img-text-area {

        margin-top: 1rem;
        position: absolute;
        width: 100%;
        top: 58%;
    }
    #product-details {
        display: flex;
        height: 100vh;
        align-items: flex-start;
        position: relative;
        justify-content: flex-start;
        flex-direction: column;
        margin-right: 8rem;
        flex-wrap: wrap;
    }
    }

@media (max-width: 477px) {


}
/* Blog section */
#page-header-blog{
    background-image: url('./img/banner/b19.jpg');
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    cursor: pointer;
}
#page-header-blog h2{
    color: #fff;
    text-align: center;
    padding-top: 5rem;
}

#page-header-blog h2:hover{
    box-shadow: 0 14px 14px rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    transform: scale(01);
    font-weight: 700;

}
#page-header-blog p:hover{
    box-shadow: 0 14px 14px rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    transform: scale(01);
    font-weight: 700;

}
#page-header-blog p{
    color: #fff;
    text-align: center;
    line-height: 1rem;
    padding-top: 1rem;
}

.main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
   flex-direction: row;
}
.main-box .box{
    background-image: url('./img/blog/b1.jpg');
    height: 50vh;
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
}
.main-box .add1{
    background-image: url('./img/blog/b2.jpg');
    height: 50vh;
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
}
.main-box .add2{
    background-image: url('./img/blog/b3.jpg');
    height: 50vh;
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
}
.main-box .add3{
    background-image: url('./img/blog/b4.jpg');
    height: 50vh;
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
}
.main-box .add4{
    background-image: url('./img/blog/b7.jpg');
    height: 50vh;
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
}
.box:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    transform: scale(01.01);
    margin: 1rem;
    
}
.box-text{
    color: #fff;
    text-align: center;
    width: 46%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10rem;
    margin-right: 5rem;
}

.box-text p{
    font-size: 1.2rem;
    margin: 1rem;
    color: #000;
    font-weight: 500;
}
.box-text h2{
    font-size: 2rem;
    margin: 1rem;
    color: #000;
    font-weight: 700;
}
.box-text span{
    font-size: 1rem;
    margin: 1rem;
    color: #000;
    font-weight: 800;
    cursor: pointer;
}
.box-text span:hover{
    box-shadow: 0 14px 14px rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    transform: scale(01.01);
    font-weight: 700;
}
/*  Make respomsive it */

@media (max-width:799px) {
    
    .main-box {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .main-box .box {
        background-image: url('./img/blog/b1.jpg');
        height: 50vh;
        width: 100%;
        background-size: cover;
        cursor: pointer;
        padding: 2rem;
        border-radius: 1rem;
    }
    .main-box  .add1{
        background-image: url('./img/blog/b2.jpg');
        height: 50vh;
        width: 100%;
        background-size: cover;
        cursor: pointer;
        padding: 2rem;
        border-radius: 1rem;
    }
    .main-box  .add2{
        background-image: url('./img/blog/b5.jpg');
        height: 50vh;
        width: 100%;
        background-size: cover;
        cursor: pointer;
        padding: 2rem;
        border-radius: 1rem;
    }
    .main-box  .add3{
        background-image: url('./img/blog/b3.jpg');
        height: 50vh;
        width: 100%;
        background-size: cover;
        cursor: pointer;
        padding: 2rem;
        border-radius: 1rem;
    }
    .main-box  .add4{
        background-image: url('./img/blog/b4.jpg');
        height: 50vh;
        width: 100%;
        background-size: cover;
        cursor: pointer;
        padding: 2rem;
        border-radius: 1rem;
    }



    .main-box .box-text{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;
height: auto;
    }
}

@media (max-width:477px) {
    .main-box {
width: 100%;
height: auto;
    }
    .main-box .box-text{
        width: 100%;
        margin: 0;
        display: flex;
        white-space: nowrap;
        flex-direction: column;
            }
            .box-text h2{
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 5px;
            }
            .box-text p{
                font-size: 1rem;
                font-weight: 500;
            }
            .box-text h2{
                font-size: 1rem;
                font-weight: 800;
            }
        }
        /*  About Section started from Here   */
        #page-header-about{
            background-image: url('./img/about/banner.png');
            height: 45vh;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            cursor: pointer;
        }

        #page-header-about h2{
                text-align: center;
                font-size: 2rem;
                font-weight: 700;
                color: #fff;
                padding-top: 5rem;
        }
        #page-header-about p{
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
            color: #fff;
    }
    #page-header-about a{
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
        margin-left: 42rem;
        list-style: none;
        padding-top: 2rem;
        position: fixed;
        display: none;
}

    #page-header-about h2:hover{
        box-shadow: 0 14px 14px rgba(0, 0, 0, 0.8);
        transition: 0.3s;
        transform: scale(01);
        font-weight: 700;
    }
    
#page-header-about p:hover {
    box-shadow: 0 14px 14px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    transform: scale(01);
    font-weight: 700;
    padding-top: 4rem;
}
  #hero-section-about{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 5rem;
  }
  #hero-section-about .img-about{
    width: 40%;
    height: 80vh;
    background-color: #d18ef2;
    background-image: url('./img/about/a6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    position: relative;
    padding: 2rem;
    margin-left: 5rem;
    cursor: pointer;
  }
  #hero-section-about .about-text{
    width: 40%;
    height: 80vh;
    /* background-color: #d18ef2; */
    padding: 2rem;
    margin-right: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
    
  #hero-section-about .about-text h2{
  padding: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
}
 
  #hero-section-about .about-text p{
    color: #000;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1rem;
}
 #app-about .app-ab
 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem;
    cursor: pointer;
 }
 #app-about video:hover{
    box-shadow: 0 14px 14px rgba(0, 0, 0, 0.8);
    transition: 0.8s;
    transform: scale(1.04);
    border-radius: 10px;
    background-color: #1a1a1a;
 }
 video{
    border-radius: 2rem;
 }
 #app-about h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;    
    margin-top: 1rem;
 }
 #app-about h1 span{
    text-decoration: underline;
 }

@media (max-width:799px) {
    #hero-section-about .img-about {
       width: 100%;
        height: 70vh;
        background-image: url('./img/about/a6.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        background-position: center;
        object-fit: fill;
        padding: 10rem;
        margin: 2rem;
        border-radius: 1rem;
    }
    #hero-section-about .img-about img{
        width: 100%;
    }
    #hero-section-about .about-text {
        width: 100%;
        padding: 2rem;
        text-align: center;
        display: flex;
        align-items: center;
        height: 30vh;
        flex-direction: column;
        margin-left: 1rem;
    }  
}

@media (max-width:477px) {
    #hero-section-about .img-about {
        width: 100%;
        height: 60vh;
        background-image: url('./img/about/a6.jpg');
        cursor: pointer;
        /* margin: 2rem; */
        border-radius: 1rem;
        overflow: hidden;
        background-size: cover;
    }
    #page-header-about {
        background-image: url('./img/about/banner.png');
        height: 40vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        cursor: pointer;
        overflow: hidden;

    }
    #hero-section-about {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        overflow: hidden;

    }
    #hero-section-about .about-text p,h2 {
       display: none;
    }
    
    #page-header-about p{
        color: #fff;
        padding-top: 2rem;
    }
    #page-header-about h2{
        color: #fff;
        padding-top: 2rem;
        margin-top: 2rem;
    }
}

/* Contact Section Start */
#page-header-contact{
    background-image: url('./img/about/banner.png');
    height: 45vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    cursor: pointer;
    overflow: hidden;   
}
#page-header-contact h2{
    color: #fff;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    cursor: pointer;
}
#page-header-contact p{
    color: #fff;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    cursor: pointer;
}
#page-header-contact p:hover {
    box-shadow: 0 14px 14px rgba(0, 0, 0, 1);
    transition: 0.9s;
    transform: scale(1.2);
    font-weight: 700;
    padding-top: 4rem;
    color: #FF9529;
}
#page-header-contact h2:hover {
    box-shadow: 0 14px 14px rgba(0, 0, 0, 0.8);
    transition: 0.8s;
    transform: scale(0.6);
    font-weight: 700;
    padding-top: 4rem;
    color: #088178;
}
.email-login input:hover{
    box-shadow: 16px 14px 14px rgba(0, 0, 0, 0.8);
   transition: 0.5s;
   border: #f07f0f 2px solid;
}
.email-login button{
    cursor: pointer;
}
.email-login button:hover{
    box-shadow: 0 14px 14px rgba(0, 0, 0, 0.8);
    transition: 0.8s;
    transform: scale(1.1);
    background-color: sienna;
}
#hero-coontact
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-info{
    width: 45%;
    height: 70vh;
    margin-left: 4rem;
}
#hero-coontact .about-info .text-p{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    margin-top: 2rem;
    color: #000;
}

#hero-coontact .about-info h3{
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 1rem;
}
#hero-coontact  .about-info .sp{
    color: #000;
    font-size: 1rem;
    font-weight: 700;
    padding-left: 1rem;
    padding-top: 0.7rem;
}

 .about-info .contact-text2 li
{
    display: flex;
  list-style: none;
padding: 10px 0;
margin-top: 1rem;

}
.about-info .contact-text2 i{
font-size: 14px;
padding-right: 22px;
}
.about-info .contact-text2 p{
    font-size: 14px;
    margin: 0;
    color: #000;
        /* padding: 1rem; */
    }

.about-map{
    width: 45%;
    height: 70vh;
}
.about-map iframe{
        outline: none;
       height: 100%;
       width: 100%;
       padding-right: 1rem;
}
#contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
}
.contact-form-msg{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    height: 70vh;
    margin-left: 2rem; 
}
.contact-form-msg  p{
    color: #000;
    padding: 1rem;
    font-size: 18px;
    font-weight: 600;
}
.contact-form-msg  h2{
    color: #000;
    font-size: 1.8rem;
    font-weight: 800;
    padding-left: 1rem;
}
.contact-form-msg form .name{
    width: 80%;
    height: 2.4rem;
    border-radius: 5px;
    border-bottom: 1px solid #000;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;

}
.contact-form-msg form{
padding-left:1rem ;
}
.contact-form-msg form .email{
    width: 80%;
    height: 2.4rem;
    border-radius: 5px;
    border-bottom: 1px solid #000;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;

}
.contact-form-msg form .subject{
    width: 80%;
    height: 2.4rem;
    border-radius: 5px;
    border-bottom: 1px solid #000;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}
.contact-form-msg form .message{
    width: 80%;
    height: 7rem;
    border-bottom: 1px solid #000;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius:10px;
    padding-left: 0.5rem;
    padding-bottom: 4rem;
}
.contact-form-msg form button{
    width: 80%;
    height: 2.7rem;
    border-radius: 5px;
    border-bottom: 1px solid #000;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    background-color: #088178;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}
.contact-form-msg form button:hover{
    background-color: #bd1122;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 14px 14px rgba(0, 0, 0, 1);
    transition: 0.8s;
    transform: scale(1);
    font-weight: 800;
}
.contact-form-msg form .name:hover{
    background-color: #FF9529;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 14px 14px rgba(0, 0, 0, 0.8);
    transition: 0.8s;
    transform: scale(1);
    font-weight: 800;
    cursor: none;

}
.contact-form-msg form .email:hover{
    background-color: #FF9529;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 14px 14px rgba(0, 0, 0, 0.8);
    transition: 0.8s;
    transform: scale(1);
    font-weight: 800;
    cursor: none;

}
.contact-form-msg form .message:hover{
    background-color: #FF9529;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 14px 14px rgba(0, 0, 0, 0.8);
    transition: 0.8s;
    transform: scale(1);
    font-weight: 800;
    cursor: none;
 }
 
.contact-form-msg form .subject:hover{
    background-color: #FF9529;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 14px 14px rgba(0, 0, 0, 0.8);
    transition: 0.8s;
    transform: scale(1);
    font-weight: 800;
    cursor: none;
}
/*  contact pepole css */

.contact-pepole {
    
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40vh;
    width: 20%;
    border-radius: 15px;
  }
  
  .contact-pepole img {
    border-radius: 50%;
    margin: 20px;
    width: 100px;
    height: 100px;
  }
  
  .contact-pepole .text {
    margin: 20px;
    text-align: right;
  }
  
  .contact-pepole h3 {
    font-weight: bold;
    font-size: 20px;
    font-weight: 800;
  }
  
  .contact-pepole p {
    font-size: 0.9em;
    color: #666;
    padding: 0.5rem;
    font-weight: 700;
  }

  /*  Make responsive Contact Section */

  @media (max-width:799px) {
    #page-header-contact {
        background-image: url('./img/about/banner.png');
        height: 25vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        cursor: pointer;
        overflow: hidden;
    }
    #hero-coontact {
        display: flex;
        justify-content: space-between;
        height: 50vh;
    }
    .about-info {
        width: 40%;
        min-height: 45vh;
        margin-left: 4rem;
    }
    .about-map {
        width: 50%;
       height: 45vh;
        margin-bottom: 15rem; 
    }

    .contact-form-msg {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 70vh;
        margin-left: 2rem;
    }
    #contact-form {

        flex-direction: row;
        flex-wrap: wrap;
        padding: 2rem;
    }
    #contact-form {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2rem;
        height: 40vh;
    }
    .contact-pepole {
display: none;
    }  
    }

    /*  Mobile responsive */

    @media (max-width: 477px) {
        .about-info {
            width: 100%;
            height: auto;
        }
        .about-map {
            width: 100%;
            height: 50vh;
            flex-wrap: wrap;
            display: flex;
        }

        #contact-form {
position: relative;
width: 100%;
height: 85vh;
margin-top: auto;
        }
        .contact-form-msg {
margin-top: 35rem;
        }
      }
      
      /* cart.css */
  
  #cart-section {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #cart-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
  }
  
  #cart-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    margin-left: 5rem;
  }
  
  #cart-list li:last-child {
    border-bottom: none;
  }
  
  #cart-list li img {
    width: 120px;
    height: 120px;
    margin-right: 10px;
    border-radius: 10px;
  }
  
  #cart-subtotal {
    font-weight: 900;
    color: #06645e;
    margin-top: 10px;
    font-size: 2rem;
    margin-left: 10rem;
    margin-top: 2rem;
  }

  /*  Making responsive Cart section */
  @media (max-width: 799px) {
    #cart-section {
      padding: 15px;
    }
    #cart-list li {
      margin-left: 2rem;
    }
    #cart-list li img {
      width: 80px;
      height: 80px;
    }
    #cart-subtotal {
      font-size: medium;
    }
  }
  @media (max-width: 477px) {
    #cart-section {
      padding: 15px;
    }
    #cart-list li {
      margin-left: 2rem;
      flex-direction: column;
      align-items: flex-start;
    }
    #cart-list li img {
      width: 190px;
      height: 190px;
      margin-right: 0;
      box-shadow: rgba(100, 102, 101, 0.8);
    }
    #cart-subtotal {
      font-size: medium;
    }
  }
  
  .fa-solid{
font-size: 20px;
font-weight: 700;
  }